@use "../abstracts/breakpoints" as a;

html {
  font-size: 75%;
  box-sizing: border-box;
  min-block-size: 100vh;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);

  @include a.breakpoint(medium) {
    font-size: 87.5%;
  }
  @include a.breakpoint(large) {
    font-size: 100%;
  }
  @include a.breakpoint(xlarge) {
    font-size: 112.5%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-block-size: 100vh;
  font: var(--fw-normal) var(--base-fs) / var(--base-lh);
  font-family: var(--fs-vela-sans);
  background-color: var(--body-bg);
  background-image: var(--body-bg-img);
  background-attachment: fixed;
  position: relative;
}

::-webkit-scrollbar {
  block-size: 9px;
  inline-size: 9px;

  &-track {
    background-color: var(--scrollbar-track-bg);
    box-shadow: 3px 0 5px oklch(var(--shadow) / 0.25) inset;
  }

  &-thumb {
    border-radius: calc(var(--base-br) * 0.1);
    background-color: var(--scrollbar-thumb-bg);
  }
}

#root {
  min-block-size: 100vh;
}
