.about-container {
  background-color: var(--about-container-bg);
  background-image: var(--about-container-bg-img);
  display: grid;
  place-items: center;

  h1 {
    font-size: calc(var(--base-fs) * 2.75);
  }

  p {
    margin-block-start: calc(var(--base-margin) * 2);
    font-weight: var(--fw-medium);
  }

  a {
    text-transform: uppercase;
    word-spacing: 4px;
  }
}
