$justify: flex-end, center, space-between, baseline;
$alignments: flex-start, flex-end, center;

.flex {
  display: flex;
  flex-flow: row wrap;

  &-col {
    flex-direction: column;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }
}

@each $just in $justify {
  .justify-#{$just} {
    justify-content: $just;
  }
}

@each $align in $alignments {
  .align-#{$align} {
    align-items: $align;
  }
}

@for $i from 1 through 8 {
  .gap-#{$i} {
    gap: calc(var(--base-gap) * #{$i});
  }
}
